<div class="row">
  <div class="col-xs-12">
  <div class="panel panel-default">
            <div class="panel-heading col-xs-12">
                <span class="panel-title col-xs-9">Contacts</span>
                <a class="btn btn-success col-xs-3" [routerLink]="['/contacts', 'new']">New Contact</a>
            </div>
            <div class="panel-body margin-top">
                <div class="row">
                    <div class="col-xs-12">
                      <div
                        class="list-group-item clearfix"
                        *ngFor="let contact of contacts"
                        (click)="onSelected(contact)"
                        [routerLink]="['/contacts', contact.id]"
                        >
                        <div class="pull-left">
                          <h4 class="list-group-item-heading">{{contact.name}}</h4>
                          <p class="list-group-item-text"></p>
                        </div>
                        <span class="pull-right">
                          <img
                            [src]="contact.imageUrl"
                            alt=""
                            class="img-responsive"
                            style="max-height: 50px;">
                        </span>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
    </div>
  </div>
  
 
  
  